.container{
    background-color:  #f5f5dd;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-bottom: 10px;

}

#dwa {
    opacity: 0.8;
}

#trzy {
    opacity: 0.5;
}

#cztery {
    opacity: 0.3;
}